* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Outfit", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0f182b;
}

section {
  height: 500px;
  width: 300px;
  background-color: #19263d;
  border-radius: 15px;
  color: white;
}

.conteiner-etherium {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.conteiner-etherium figure {
  position: relative;
  height: 260px;
  width: 260px;
  overflow: hidden;
}

.etherium {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out;
}

.nublado {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(178, 100%, 50%, 0.454);
  opacity: 0;
  transition: all 500ms ease-out;
}

.nublado:hover {
  opacity: 1;
}

.vista {
  height: 50px;
  width: 50px;
}

div > img {
  height: 20px;
  width: 20px;
}

.conteiner-texto {
  padding-left: 20px;
}

.numero {
  font-size: 2rem;
}

.numero:hover {
  color: hsla(178, 100%, 50%);
  cursor: pointer;
}

.texto {
  padding-top: 15px;
  font-size: 1.5rem;
  color: #4d5d76;
}

.iconos {
  padding-top: 15px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.primero {
  display: flex;
  align-items: center;
}

.primero > p {
  padding-left: 10px;
}

.segundo {
  display: flex;
  align-items: center;
}

.segundo > p {
  padding-left: 10px;
  color: #4d5d76;
}

.conteiner-avatar {
  padding-top: 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.avatar {
  height: 30px;
  width: 30px;
}

.conteiner-avatar > p {
  padding-left: 8px;
}

.creation-of {
  color: #4d5d76;
}

.creator-name:hover {
  color: hsla(178, 100%, 50%);
  cursor: pointer;
}

.separator {
  margin-top: 10px;
  height: 1px;
  width: calc(100% - 20px);
  background-color: rgb(221, 255, 254);
}
